@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --dark-blue: #2d3450;
  --sky-blue: #23a6f0;
  --light-sky-blue: #b2e3ff;
  --light-orange: #e77c40;
  --red: #e74040;
  --light-gray: #737373;
  --light-green: #b9eaa8;
  --yellow: #f3cd03;
  --green: #2dc071;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
p {
  line-height: 1.4;
}
